<style type="text/css">
	h1{
		font: Times New Roman;
		color: white;
		font-weight: italic;
		font-size: 24px;

	}

	h2{
		font: Myriad Pro;
		color: white;
		font-weight: bold;
		font-size: 20px;

	}

	h3{
		font: Myriad Pro;
		color: gray;
		font-weight: bold;
		font-size: 16px;

	}

	h4{
		font: Myriad Pro;
		color: white;
		font-size: 14px;

	}

	p{
		font: Times New Roman;
		font-size: 12px;
		color: gray;

	}